@font-face{
    font-family: Arial, Helvetica, sans-serif;
    src: url("../assets/tipografia.ttf");
}

*{
    border: 0px;
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url(../assets/img/Fondo.png);
    font-family: arial;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    position: relative;
    border: 1px solid #000;
    width: 1500px;
    min-height: 300px;
    margin: 20px auto;
    background-color: #ffffffcc;
}

header#hprincipal{
    font-family: Arial;
    position: relative;
    width: 100%;
    height: 220px;
    border-bottom: 1px solid #000;
    background-image: url(../assets/img/programador.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header#hprincipal .logo{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 30px;
    left: 30px;
    background-image: url(../assets/img/html.png);
    background-size: 100%;
}

header#hprincipal h1{
    position:absolute;
    left: 150px;
    top: 60px;
    color: #fff;
}

nav.menu{
    border-bottom: 1px solid #aaa8a8;
    position: relative;
    background-color: transparent;
    margin-top: 3px;
}

nav.menu ul{
    position: relative;
    width: 100%;
}

nav.menu ul li{
    position: relative;
    display: inline-block;
    vertical-align: top;
    list-style: none;
}

nav.menu ul li a{
    display: block;
    position: relative;
    text-decoration: none;
    padding: 10px 20px;
    color: #000000;
    border-radius: 3px;
}

nav.menu ul li a:hover, nav.menu ul li a.activo{
    background-color: #a1a1a1;
    transform: translateY(-2px);
}

footer#fprincipal{
    position: relative;
    width: 100%;
    height: 100px;
    text-align: center;
    border-top: 1px solid #000d;
    background-color: #000;
    color: #fff;
    background-image: url(../assets/img/footer.png);
    background-size: cover;
    background-repeat: no-repeat;

}

div p, address{
    position: relative;
    top: 25px;
}

table, tr, td, th{
    border: 1px solid #999;
    border-collapse: collapse;
    padding: 10px;
}

table{
    position: relative;
    width:95%;
    margin: 20px auto;
}

caption {
    font-size: 25px;    
}

table thead{
    border-color: #000;
}

table tbody tr:nth-child(odd){
    background-color: #a1a1a1;
}

table tbody tr:nth-child(even){
    background-color: #3b37324d;
}

code{
    background-color: #eef;
    padding: 2px 6px;
    border-radius: 4px;
}